__pycache__
__pycache__/read_text.cpython-312.pyc
.vscode/settings.json
src/llm_dev.egg-info/dependency_links.txt
src/llm_dev.egg-info/PKG-INFO
src/llm_dev.egg-info/requires.txt
src/llm_dev.egg-info/SOURCES.txt

.vscode/settings.json
.vscode/settings.json
